.btn {
  background: var(--um-color-primary);
  border: none;
  outline: 0;
  border-radius: var(--um-border-radius-l) var(--um-border-radius);
  padding: 7px 12px;
  color: #ffffff;
  box-shadow: var(--um-box-shadow);
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background: var(--um-color-primary-hover);
    transform: scale(1.1);
  }

  &:active {
    background: var(--um-color-primary-active);
  }
}
