@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

body {
  font-family: "Source Code Pro", sans-serif;
  transition: background-color 0.25s;

  color: var(--um-color-font);
  background-color: var(--um-color-background);
}

input {
  font-family: "Source Code Pro", sans-serif;
  color: var(--um-color-font);
}

a {
  color: var(--um-color-primary);

  &:hover {
    color: var(--um-color-primary-hover);
  }

  &:active {
    color: var(--um-color-primary-active);
  };
}
