@import "themes";
@import "components";

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.25s;

  background-color: var(--um-color-background);
  color: var(--um-color-font);
}

* {
  margin: 0;
  padding: 0;
}
