<div>
  <div class="bubbles">
    <div *ngIf="request.start" class="bubble">
      Start: {{ request.start }}
      <span (click)="removeStart()" class="bubble__remove"></span>
    </div>

    <div *ngIf="request.destination" class="bubble">
      Ziel: {{ request.destination }}
      <span (click)="removeDestination()" class="bubble__remove"></span>
    </div>
  </div>

  <div *ngIf="!request.start || !request.destination" class="card searchbar">
    <input #input (keypress)="inputData($event)" placeholder="Startadresse...">
    <ion-icon (click)="inputData()" name="search"></ion-icon>
  </div>
</div>
