@import "./themes";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  transition: background-color 0.25s;

  background-color: var(--um-color-background);
  color: var(--um-color-font);
}

* {
  margin: 0;
  padding: 0;
}

// remove map OpenStreetMap contributor note in the map corner
.ol-attribution.ol-uncollapsible {
  display: none;
}

// change background color of map zoom buttons
.ol-control button {
  background-color: rgba(var(--um-color-primary-rgb), .75);
  outline: 0;

  &:hover {
    background-color: rgba(var(--um-color-primary-rgb), .9);
  }

  &:active, &:focus {
    background-color: rgba(var(--um-color-primary-rgb), .6);
  }
}

.card {
  box-shadow: var(--um-box-shadow);
  border-radius: var(--um-border-radius);
  background: var(--um-color-background);
}

.bubble {
  box-shadow: var(--um-box-shadow);
  background: var(--um-color-background);
  width: fit-content;
  padding: 6px 12px;
  border-radius: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;

  &__remove {
    display: inline-block;
    cursor: pointer;

    &:after {
      content: "x";
      color: red;
      position: relative;
      top: -4px;
      right: -4px;
    }
  }
}
