<div class="content">
  <h1>Einstellungen</h1>

  <div class="settings">
    <div class="setting">
      <label>{{ carSetting.isConsumption ? "Verbrauch in Litern pro 100 km:" : "Welches Fahrzeug fährst du?"}}</label>

      <div class="setting__content setting__content--input card">
        <select *ngIf="!carSetting.isConsumption" [(ngModel)]="carSetting.value">
          <option [value]="undefined" disabled hidden selected>Auswählen...</option>
          <option *ngFor="let c of availableCars" [value]="c.id">{{ c.name }}</option>
        </select>

        <input *ngIf="carSetting.isConsumption" [(ngModel)]="carSetting.value" placeholder="Verbrauch..." type="number">
      </div>

      <div *ngIf="carSetting.isConsumption" class="setting__content setting__content--input card fuelType">
        <select [(ngModel)]="carSetting.type">
          <option [value]="undefined" disabled hidden selected>Typ auswählen...</option>
          <option *ngFor="let type of fuelTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="toggle">
        <label for="consumption-toggle">Verbrauch manuell eintragen?</label>
        <input (ngModelChange)="onToggleChange()" [(ngModel)]="carSetting.isConsumption" id="consumption-toggle"
               type="checkbox">
      </div>

      <p class="setting__description">Wir verwenden dein Fahrzeug, um den voraussichtlichen Spritverbrauch und
        die Fahrtkosten für deine Routen zu berechnen.</p>

      <p class="setting__description">Dein Modell ist nicht dabei? Dann schreibe uns doch eine <a
        href="mailto:info@ultimap.example">E-Mail</a> und wir fügen es
        unserer Datenbank hinzu!</p>
    </div>
  </div>

  <div (click)="save()" class="btn btn--chip save-btn">Speichern</div>
</div>
